* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #020202;
  color: #f2f2f2;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.App > h1 {
  font-size: 4rem;
}

.App > input {
  padding: 1rem;
  border-radius: 1rem;
  width: 50%;
  margin-top: 2rem;
  border: 1px solid honeydew;
  color: honeydew;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

::placeholder {
  color: honeydew;
  font-size: 1rem;
}

.App > .start-chat {
  background-color: honeydew;
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5rem;
  border-radius: 1rem;
  color: #020202;
  margin-top: 2rem;
}

.App > .chat-box {
  width: 80%;
  height: 100%;
  border: 1px solid honeydew;
}

.App > .input-items {
  width: 80%;
  border: 1px solid honeydew;
  color: honeydew;
  display: flex
}

.input-items > input {
  width: 100%;
  padding: 1rem 0.5rem;
  font-size: 1rem;
}